/* CSS Document */

body{
	margin: 0;
	padding: 0;
}
header{}
.container{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
.logo{
	float: left;
	width: 20%;
}
.logo img{
	width: 100%;
	max-width: 100px;
}
.menu{
	float: right;
	width: 60%;
}
.menu ul{
	float: right;
	width: 100%;
}

.menu ul li{
	list-style: none;
	float: left;
	margin: 0 3%;
}
.menu ul li:last-child{
	margin-right: 0;
}
.menu ul li a{
	display: inline-block;
	text-align: right;
	text-decoration: none;
	color: black;
	font-size: 3vw;
	border-bottom: 2px solid transparent;
	transition: 0.3s;
}
.menu ul li a:hover{
	border-bottom: 2px solid black;
}
.menu ul .page_active a{
	border-bottom: 2px solid black;
}
.cell{
	text-align: center;
	border:1px solid black;
}
label{
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 2.2vw;
}
.table{
	width: 100%;
	font-size: 1.5vw;
	border-spacing: 0;
}
.map{}
footer{}
footer address{}
.footer_link{}